@media (max-width: 1285px) {
    #menu-icon {
        display: block; 
        cursor: pointer;
    }

    .navbar {
        position: absolute;
        top: 100%;
        right: 0;
        width: 100%;
        padding: 1rem 3%;
        background: rgba(0, 0, 0, 0.8);
        backdrop-filter: blur(20px);
        border-bottom-left-radius: 2rem;
        border-left: 2px solid var(--main-color);
        border-bottom: 2px solid var(--main-color);
        display: none;
        flex-direction: column;
        align-items: flex-start;
        z-index: 100;
    }

    .navbar.active {
        display: flex;
    }

    .navbar a {
        display: block;
        font-size: 2rem;
        margin: 1rem 0;
        color: white;
    }

    .navbar a.active {
        border-bottom: none; 
    }
}

@media (max-width: 991px) {
    .header {
        padding: 1rem 5%;
    }

    .logo {
        font-size: 2rem;
    }

    .navbar a {
        font-size: 1.5rem;
        margin-left: 2rem;
    }

    .home-content h3 {
        font-size: 2rem;
    }

    .home-content h1 {
        font-size: 5rem;
    }

    .home-img img {
        width: 75vw;
    }

    .about {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 2rem 5%;
    }

    .about-img img {
        width: 75vw;
        margin-bottom: 2rem;
    }

    .about-content h2 {
        font-size: 3rem;
    }

    .about-content h3 {
        font-size: 2rem;
    }

    .about-content p {
        font-size: 1.4rem;
    }

    .timeline-items {
        display: block;
    }

    .timeline-item {
        padding: 0 2rem;
    }

    .timeline-item:nth-child(odd),
    .timeline-item:nth-child(even) {
        float: none;
        text-align: left;
        padding: 0;
    }

    .timeline-dot {
        display: none;
    }

    .timeline-content {
        padding: 2rem;
    }

    .wrapper {
        grid-template-columns: 1fr;
    }

    .project-item {
        min-height: auto;
        max-width: 100%;
        margin: 0 1rem;
        padding: 2rem;
    }

    .contact-content {
        font-size: 2rem;
    }

    footer ul li {
        display: block;
        padding: 0.5rem 0;
    }
}
